<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <button (click)="cargarCitas()" class="btn btn-primary">Cargar Citas</button>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Fecha</th>
              <th>Motivo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas">
              <td>{{ cita.codigo }}</td>
              <td>{{ cita.fecha }}</td>
              <td>{{ cita.motivo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  