<div class="card">
  <form class="row g-3" #f="ngForm" (ngSubmit)="login()">
    <div class="container">
      <h2 class="h2 text-center">Iniciar Sesión</h2>
    </div>
    <div class="container">
      <label for="inputUsuario" class="visually-hidden">Usuario</label>
      <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name="correo" [(ngModel)]="loginDTO.correo" required>
    </div>
    <div class="container">
      <label for="inputPassword2" class="visually-hidden">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña" name="password" [(ngModel)]="loginDTO.password" required>
    </div>
    <div class="container text-center"> <!-- Agregado text-center aquí -->
      <p><a href="#" class="link-underline-primary">¿Olvidó su contraseña?</a></p>
      <button type="submit" class="btn btn-primary mb-5">Iniciar Sesión</button>
      <div class="register-section">
        <label>¿Aún no tienes cuenta?</label>
        <p><a href="#" class="link-underline-primary">Crear Cuenta</a></p>
      </div>
    </div>
  </form>
</div>
