<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <button (click)="mostrarOcultarCitas()" class="btn btn-primary">
          {{ mostrarCitas ? 'Ocultar Citas' : 'Mostrar Citas' }}
        </button>
      </div>
    </div>
  </div>
  
  <div *ngIf="mostrarCitas && citas.length > 0" class="container mt-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Lista de Citas</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Motivo</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas">
              <td>{{ cita.codigo }}</td>
              <td>{{ cita.motivo }}</td>
              <td>{{ cita.fecha }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  