.card {
    margin-top: 20px;
  }
  
  .card-header {
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #007BFF;
    color: white;
  }
  
  .card-header h5 {
    display: flex;
    align-items: center;
  }
  
  .card-header i {
    margin-right: 10px;
  }
  
  .card-body {
    padding: 5%;
  }
  
  .row {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    padding-top: 5px;
  }
  
  .form-select {
    width: 100%;
  }
  
  .table th {
    text-align: center;
    background-color: #007BFF;
    color: white;
  }
  
  .table td {
    text-align: center;
  }
  
  .form-check-input {
    margin: 0;
  }
  
  .form-control {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .is-invalid {
    border-color: #dc3545;
  }
  
  .btn-primary {
    background-color: #007BFF;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  