<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registrarse</h5>
  </div>
  <div class="card-body p-5">
    <form #f="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Cédula:</label>
        <div class="col-sm-10">
          <input #cedula="ngModel" [ngClass]="{'form-control': true, 'is-invalid': cedula.invalid && (cedula.dirty || cedula.touched)}"
                 type="text" name="cedula" required [(ngModel)]="registroMedicoDTO.cedula" />
          <div class="invalid-feedback" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
            Ingresa una cédula válida.
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Nombre:</label>
        <div class="col-sm-10">
          <input #nombre="ngModel" [ngClass]="{'form-control': true, 'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched)}"
                 type="text" name="nombre" required [(ngModel)]="registroMedicoDTO.nombre" />
          <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            Ingresa un nombre válido.
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Teléfono: </label>
        <div class="col-sm-10">
          <input #telefono="ngModel"
                 [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) ? 'is-invalid' : ''" type="text"
                 name="telefono" class="form-control" required [(ngModel)]="registroMedicoDTO.telefono" />
        </div>
      </div>

      <div class="mb-3 row">
        <label class="container text-center">Foto: </label>
        <div class="col-sm-8">
          <input type="file" class="form-control" name="foto" (change)="onFileChange($event)" />
        </div>
        <div class="col-sm-2" >
          <button type="submit" [disabled]="archivos == null" class="btn btn-primary"
                  (click)="subirImagen()" >
            <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
          </button>
        </div>

      </div>
      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Ciudad: </label>
        <div class="col-sm-10">
          <select name="ciudad" required class="form-select" [(ngModel)]="registroMedicoDTO.ciudad">
            <option value="" selected>Seleccione una ciudad</option>
            <option [value]="item" *ngFor="let item of ciudades; index as i">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Correo electrónico: </label>
        <div class="col-sm-10">
          <input #correo="ngModel" [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''"
                 type="email" name="correo" class="form-control" required email [(ngModel)]="registroMedicoDTO.correo" />
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Contraseña:</label>
        <div class="col-sm-10">
          <input #password="ngModel" [ngClass]="{'form-control': true, 'is-invalid': password.invalid && (password.dirty || password.touched)}"
                 type="password" name="password" required [(ngModel)]="registroMedicoDTO.password" />
          <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
            Ingresa una contraseña válida.
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-10 col-form-label">Repetir contraseña:</label>
        <div class="col-sm-10">
          <input #confirmaPassword="ngModel" [ngClass]="{'form-control': true, 'is-invalid': confirmaPassword.invalid && (confirmaPassword.dirty || confirmaPassword.touched)}"
                 type="password" name="confirmaPassword" required [(ngModel)]="registroMedicoDTO.confirmaPassword" />
          <div class="invalid-feedback" *ngIf="confirmaPassword.invalid && (confirmaPassword.dirty || confirmaPassword.touched)">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>

      <p *ngIf="!sonIguales()" class="text-danger">Las contraseñas no coinciden</p>
      <div *ngIf="!sonIguales()" class="alert alert-danger" role="alert">Las contraseñas no coinciden</div>

      <div class="mb-3 row">
        <div class="container text-center">
          <button (click)="registrar()"  class="btn btn-primary" type="submit" [disabled]="f.invalid || !sonIguales()">
            <i class="fa-solid fa-circle-plus me-1"></i>Registrarse
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
